<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsFormsApp1.Properties.Settings.ComponentsConnectionString"
            connectionString="Data Source=DESKTOP-JLG9LLB;Initial Catalog=Components;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="WindowsFormsApp1.Properties.Settings.ComponentsConnectionString1"
            connectionString="Data Source=335-09\SQLEXPRESS;Initial Catalog=Components;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>